nav h1 {
  display: inline-block;
  font-size: 1.35rem; }
  nav h1 span {
    font-weight: normal; }

.btn-donate {
  display: none;
  background: none;
  border: 2px solid #E14D4C;
  color: #E14D4C;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: bold; }
  .btn-donate:focus, .btn-donate:hover {
    background: #E14D4C;
    color: #fff; }

@media screen and (min-width: 35.5em) {
  .btn-donate {
    display: block; }
 }

table {
  margin-top: 1.4rem;
  width: 100%; }

thead {
  text-align: left; }
  thead th {
    padding-bottom: 1rem;
    padding-right: 1rem; }

tbody tr:focus, tbody tr:hover {
  background: #cacaca; }
tbody td {
  border-top: 1px solid #cacaca;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.hero {
  background-color: #fff; }

.logo {
  position: absolute;
  z-index: 1000;
  width: 100%; }

.logo-centered {
  font-size: 0.8rem;
  max-width: 1140px;
  margin: 0 auto;
  float: left;
  display: inline;
  color: #fff; }
  .logo-centered .city {
    font-weight: 400; }

.hero--content {
  position: relative;
  text-align: center;
  top: -3.25rem;
  font-size: 1.35rem;
  color: #E14D4C; }

@media screen and (min-width: 35.5em) {
  .hero--content {
    top: -4.75rem;
    font-size: 2rem; }
 }

@media screen and (min-width: 48em) {
  .hero--content {
    top: -9rem;
    font-size: 4rem; }
 }

.hero .btn-donate {
  float: right;
  margin-top: 1.5rem; }

.video {
  width: 100%;
  max-height: 600px;
  position: relative;
  overflow: hidden; }

video {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #394555;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/poster.png");
  background-size: cover; }

.poster {
  width: 100%;
  height: 240px;
  position: relative;
  background-color: #394555;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/poster.png");
  background-size: cover; }

.description {
  margin-top: -4rem;
  padding-bottom: 3rem; }

@media screen and (min-width: 35.5em) {
  .description {
    margin-top: -6rem;
    padding-bottom: 3rem; }
 }

@media screen and (min-width: 48em) {
  .description {
    margin-top: -13rem;
    padding-bottom: 3rem; }
 }

.list-of-devices {
  border-top: 1px solid #ededed;
  padding-top: 1rem;
  padding-bottom: 3rem;
  overflow-x: scroll; }

@media screen and (min-width: 48em) {
  .list-of-devices {
    overflow-x: hidden; }
 }

.donate {
  background: #161616;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 3rem;
  color: #fff; }
  .donate h3 {
    color: #E14D4C; }
  .donate h4 {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #262626; }

.step {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem; }

.number {
  color: #fff;
  font-weight: 700;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: 1rem; }
  .number p {
    text-align: center;
    max-width: 50%; }

.location {
  padding-top: 1rem;
  padding-bottom: 3rem;
  border-top: 1px solid #ededed; }

.footer {
  background: #151515;
  color: #fff;
  position: relative;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 6rem; }
  .footer h4 {
    color: #E14D4C;
    font-family: "Inconsolata", sans-serif;
    letter-spacing: 0.05rem; }
  .footer .logo {
    color: #fff;
    font-family: "Karla", sans-serif; }
    .footer .logo .city {
      font-weight: 400; }
  .footer a {
    font-family: "Karla", sans-serif;
    text-decoration: none;
    color: #999; }

html, body {
  background: #fff;
  color: #262626;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  font-family: "Karla", sans-serif; }

.wrapper {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto; }

h3 {
  color: #394555;
  font-family: "Inconsolata", sans-serif;
  letter-spacing: 0.05rem; }

a {
  color: #394555;
  font-family: "Inconsolata", sans-serif;
  letter-spacing: 0.05rem; }
