doctype html
html(lang="en")
  head
    title Open Device Lab - Copenhagen
    meta(name="viewport", content="width=device-width")
    meta(name="google-site-verification" content="u-VpgPi1Ji9Dwc8r5Th3EMIhTiORRKM7N_jWPWIc_Yk")
    link(rel="stylesheet", href="css/main.css", type="text/css", media="screen")
  body
    section.hero
      .container
        .logo
          img(src="img/Little_mermaid_hero.svg")
          h1 Open Device Lab
            br
            span Copenhagen
          br
          p Opening Spring 2015 at Founders House, Njalsgade 19 D, 2300 Cph S
    //
      section.description
        .container
          h3 Your users is no longer just on desktop computers. The amount of devices is exploding, but so is the range and fragmentation. That is why we are setting up an open device lab in Copenhagen.
    //
      section.wishlist
        .container
          each types, name in devices
            h1= name
            each products, producer  in types
              h3= producer
              each product in products
                li= product

    section.donate
      .container
        h1 Donate your old device
        p If you have an old device that you no longer use. Please send a mail to us.
        a(href="mailto:martin@odlcph.dk") Donate your device
    //
      section.find-us
        p Yo!
    script(src="js/main.js")
