doctype html
html(lang="en")
  head
    title Open Device Lab - Copenhagen
    meta(name="viewport", content="width=device-width")
    meta(name="google-site-verification" content="u-VpgPi1Ji9Dwc8r5Th3EMIhTiORRKM7N_jWPWIc_Yk")
    link(href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css", rel="stylesheet")
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
    link(href='http://fonts.googleapis.com/css?family=Inconsolata|Karla:400,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="css/main.css", type="text/css")
  body
    .hero
      .logo
        .wrapper
          .logo-centered
            h1 Open Device Lab
              br
              span.city Copenhagen
          a(href="#donate" class="btn-donate") Donate your old device
      .video
        video(autoplay loop no-controls poster="img/poster.png")
          source(src="img/bg_video_color_100.webm")
          source(src="img/bg_video_color_100.mp4")
          source(src="img/bg_video_color_100.ogv")
      .hero--content
        h2 Design.Develop.Test.
    .wrapper
      .description
        .pure-g
          div(class="pure-u-1 pure-u-md-6-24")
            h3 Description
          div(class="pure-u-1 pure-u-md-18-24 pure-u-lg-14-24")
            h4 Why
            p Your users is no longer just on desktop computers. The amount of devices is exploding, but so is the range and fragmentation. Every year dozens of new devices with new operating systems and software versions are launched.
            p For designers and developers, it can be very difficult to make a website or app that is both responsive and easy-to-use on all these different devices. We are here to make testing and development easier on multiple devices across mulitple platforms.
        .pure-g
          div(class="pure-u-1 pure-u-md-6-24")
          div(class="pure-u-1 pure-u-md-18-24 pure-u-lg-14-24")
            h4 How it works
            p
              | The device lab is open for anybody. Open Device Lab Copenhagen is part of the
              a(target="_blank" href="http://opendevicelab.com/")  opendevicelab.com
              |  ODL grass-roots community movement.
            p All our devices are installed with apps for testing. We use Adobe Edge Inspect, Skala Preview, Sketch Mirror, BrowserStack and other useful tools.
            p
              | Before you pop by for testing, please write when you would like to use the lab.
              br
              a(href="mailto:martin@odlcph.dk") Send a mail
              |  If you haven't tried to test on multiple devices or have questions about where to start. We will help you with the setup.
      .list-of-devices
        .pure-g
          div(class="pure-u-1 pure-u-md-6-24")
            h3 Devices
          div(class="pure-u-1 pure-u-md-18-24")
            table
              thead
                tr
                  th Vendor
                  th Model
                  th System
                  th Version
                  th Sponsor
              tbody
                tr
                  td Apple
                  td iPhone 4
                  td iOS
                  td 7
                  td
                    a(target="_blank" href="https://twitter.com/msandholt") Martin Sandholt
                tr
                  td Apple
                  td iPhone 5
                  td iOS
                  td 8
                  td
                    a(target="_blank" href="https://twitter.com/foundershouse") Founders House
                tr
                  td Apple
                  td iPad 3
                  td iOS
                  td 8
                  td
                    a(target="_blank" href="https://twitter.com/msandholt") Martin Sandholt
                tr
                  td Samsung
                  td Galaxy 2
                  td Android
                  td 4.4.2
                  td
                    a(target="_blank" href="https://twitter.com/rvlt_tv") Helder Almeida
                tr
                  td Raspberry Pi
                  td B
                  td Raspbian
                  td 3.18
                  td
                    a(target="_blank" href="https://twitter.com/msandholt") Martin Sandholt
                tr
                  td Sony
                  td PlayStation 4
                  td ?
                  td ?
                  td
                    a(target="_blank" href="https://twitter.com/foundershouse") Founders House

      .location
        .cph
          .pure-g
            div(class="pure-u-1 pure-u-md-6-24")
              h3 Location
            div(class="pure-u-1 pure-u-sm-12-24")
              p Open Device Lab Copenhagen is part of Founders House and is located at Njalsgade 19 D, 2300 Copenhagen S.
              p It is a short walk from Islands Brygge metro station.
              a(target="_blank" href="https://www.google.com/maps/place/Founders+House/@55.66648,12.580513,17z/data=!3m1!4b1!4m2!3m1!1s0x4652536a7450875d:0x3ba3cac58f88d601") View map
            div(class="pure-u-1 pure-u-sm-6-24")
              img(class="pure-img" src="img/founders_house_logo.png")
    .donate
      .wrapper
        .pure-g
          div(class="pure-u-1 pure-u-md-6-24")
            h3 Donate
          div(class="pure-u-1 pure-u-md-18-24 pure-u-lg-18-24")
            h4#donate Donate your old device. It's as easy as A – B – C!
          div(class="pure-u-1 pure-u-md-6-24")
          div(class="pure-u-1 pure-u-md-18-24 pure-u-lg-14-24")
            div.step
              div.number
                p 1
              div.guide
                p Ok, you got an old device that you no longer use. That's great!
                p Please make sure it still works and you got a changer.
                p Reset the device.
                p Find a box and put the device inside.
          div(class="pure-u-1 pure-u-md-6-24")
          div(class="pure-u-1 pure-u-md-18-24 pure-u-lg-14-24")
            div.step
              div.number
                p 2
              div.guide
                p Send it to:
                p Open Device Lab Copenhagen, c/o Founders House.
                p Njalsgade 19 D. 2300 Cph S.
                p Att: Martin Sandholt.
          div(class="pure-u-1 pure-u-md-6-24")
          div(class="pure-u-1 pure-u-md-18-24 pure-u-lg-14-24")
            div.step
              div.number
                p 3
              div.guide
                p Thats it really.
                p 1000 karma points recived from the old device gods.
    .footer
      .wrapper
        .pure-g
          div(class="pure-u-1 pure-u-sm-8-24 pure-u-md-6-24")
            h4 Address
            p Njalsgade 19 D, 1st Floor
            p 2300 Copenhagen S
            p Denmark
          div(class="pure-u-1 pure-u-sm-8-24 pure-u-md-12-24")
            h4 Say hi
            p Follow us on Twitter
              a(target="_blank" href="https://twitter.com/odlcph/")  @odlcph
            p Send email to
              a(href="mailto:martin@odlcph.dk")  Martin

          div(class="pure-u-1 pure-u-sm-8-24 pure-u-md-6-24")
            h4.logo Open Device Lab
              br
              span.city Copenhagen
    script(src="https://code.jquery.com/jquery-1.11.2.min.js")
    script(src="js/main.js")
