.description {
  margin-top: -4rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 35.5em) {
  .description {
    margin-top: -6rem;
    padding-bottom: 3rem;
  }
}


@media screen and (min-width: 48em) {
  .description {
    margin-top: -13rem;
    padding-bottom: 3rem;
  }
}
