.hero {
  background: #fff;
  height: 100vh;
  text-align: center;
  h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    color: #312C2C;
    span {
      font-weight: normal;
    }
  }
  i {
    color: #666;
    font-size: 1rem
  }
}
