.list-of-devices {
  border-top: 1px solid #ededed;
  padding-top: 1rem;
  padding-bottom: 3rem;
  overflow-x: scroll;
}

@media screen and (min-width: 48em) {
	.list-of-devices {
	overflow-x: hidden;
	}
}
