@import "colors";
@import "nav";
@import "buttons";
@import "table";
@import "hero";
@import "description";
@import "list-of-devices";
@import "donate";
@import "location";
@import "footer";

html, body {
  background: #fff;
  color: #262626;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "Karla", sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

h3 {
  color: #394555;
  font-family: "Inconsolata", sans-serif;
  letter-spacing: 0.05rem;
}

a {
  color: #394555;
  font-family: "Inconsolata", sans-serif;
  letter-spacing: 0.05rem;
}
